<li>
  <div class='list-item'>
    <span>
      <a class='post' href="/post/<%= passed_comment.post.id %>/comments">
      <%= passed_comment.post.title %></a> | <%= passed_comment.post.created_at %>
    </span> <br>
    <span class='title'>
      <%= passed_comment.description %>
    </span>
  </div>
</li> 
